{% extends 'base.html'%} {% load static %} {% block content %}

<!-- Show Welcome Area Start -->

<!-- Show Welcome Area End -->

<!-- Show Routine Area Start -->

<section class="show-routine-area section-padding-80-0 mb-50">
    <div class="col-12">
        <div class="section-heading text-center">
            <h2 onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">PASSOUT YEARS</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="showRoutineTab" role="tablist">
                    <!-- Single Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                            <b>2011</b>
                        </a>
                    </li>
                    <!-- Single Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                            <b>2012</b>
                        </a>
                    </li>
                    <!-- Single Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
                            <b>2013</b>
                        </a>
                    </li>
                    <!-- Single Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link" id="tab-4" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">
                            <b>2014</b>
                        </a>
                    </li>
                    <!-- Single Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link" id="tab-5" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">
                            <b>2015</b>
                        </a>
                    </li>
                    <!-- Single Nav Item -->
                    <li class="nav-item">
                        <a class="nav-link" id="tab-6" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">
                            <b>2016</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-7" data-toggle="tab" href="#tab7" role="tab" aria-controls="tab6" aria-selected="false">
                            <b>2017</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-8" data-toggle="tab" href="#tab8" role="tab" aria-controls="tab6" aria-selected="false">
                            <b>2018</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-9" data-toggle="tab" href="#tab9" role="tab" aria-controls="tab6" aria-selected="false">
                            <b>2019</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="tab-10" data-toggle="tab" href="#tab10" role="tab" aria-controls="tab6" aria-selected="false">
                            <b>2020</b>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="showRoutineTabContent">
                    <!-- Single Tab Content -->
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2011'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2011'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2011'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2011'%}"> <img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2011'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Tab Content -->
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2012'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2012'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2012'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2012'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cce-2012'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Tab Content -->
                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab-3">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2013'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2013'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2013'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2013'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2013'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Tab Content -->
                    <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab-4">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2014'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2014'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2014'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2014'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2014'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Tab Content -->
                    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab-5">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2015'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2015'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2015'%}"><img src="{% static 'img/bg-img/56.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2015'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2015'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab-5">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2016'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2016'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2016'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2016'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2016'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab7" role="tabpanel" aria-labelledby="tab-5">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2017'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2017'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2017'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2017'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2017'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab8" role="tabpanel" aria-labelledby="tab-5">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2018'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2018'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2018'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2018'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2018'%}"><img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab9" role="tabpanel" aria-labelledby="tab-9">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2019'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2019'%}"><img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2019'%}"><img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2019'%}"><img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2019'%}"> <img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Single Tab Content -->
                    <div class="tab-pane fade" id="tab10" role="tabpanel" aria-labelledby="tab-6">
                        <div class="row">
                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='mech-2020'%}"><img src="{% static 'img/mech1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>MECHANICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='cse-2020'%}"> <img src="{% static 'img/cse1.jpg'%} " alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>COMPUTER SCIENCE </h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='civil-2020'%}"> <img src="{% static 'img/civil.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>CIVIL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ee-2020'%}"> <img src="{% static 'img/ee1.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRICAL</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <!-- Single Show Item -->
                            <div class="col-12 col-md-6 col-lg-4">
                                <div class="single-show-item mb-30">
                                    <a href="{% url 'show_alumni' batch='ece-2020'%}"> <img src="{% static 'img/ece1.png'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span></span>
                                                <h5>ELECTRONICS</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Show Routine Area End -->

{% endblock %}