{% extends 'base.html' %} {% load static %} {% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/banner.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Title</a></h5>
                <p class="card-text">Some quick example text to build on the and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/banner.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Title</a></h5>
                <p class="card-text">Some quick example text to build on the and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/banner.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Title</a></h5>
                <p class="card-text">Some quick example text to build on the and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <br>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/banner.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Title</a></h5>
                <p class="card-text">Some quick example text to build on the and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/banner.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Title</a></h5>
                <p class="card-text">Some quick example text to build on the and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/banner.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="#">Title</a></h5>
                <p class="card-text">Some quick example text to build on the and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

</div>
<br>
<br> {% endblock %}