{% extends 'base.html'%} {% load static %} {% block content %} {% if result_msg %}
<div class="alert alert-success" role="alert">
    {{result_msg}}
</div>
{% endif %}

<!-- Welcome Area Start -->
<section class="welcome-area">
    <div class="welcome-slides owl-carousel">

        <!-- <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url(static/img/undraw_new_decade_n4qd.svg);"> -->
        <div class="single-welcome-slide bg-img " style="background-image: url(static/img/undraw_new_decade_n4qd.svg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUpBig" data-delay="100ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">ALUMINI</h2>
                                <h5 data-animation="fadeInUpBig" data-delay="400ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">NALANDA INSTITUTE OF TECHNOLOGY</h5>
                                <a href="{% url 'alumini_cell' %}" class="btn razo-btn btn-2" data-animation="fadeInUpBig" data-delay="700ms">Alumini Cell</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img " style="background-image: url(static/img/a_block.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUpBig" data-delay="100ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">ALUMINI</h2>
                                <h5 data-animation="fadeInUpBig" data-delay="400ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">NALANDA INSTITUTE OF TECHNOLOGY</h5>
                                <a href="{% url 'alumini_cell' %}" class="btn razo-btn btn-2" data-animation="fadeInUpBig" data-delay="700ms">Alumini Cell</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img " style="background-image: url(static/img/b_block.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">ALUMINI</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">NALANDA INSTITUTE OF TECHNOLOGY</h5>
                                <a href="{% url 'alumini_cell' %}" class="btn razo-btn btn-2" data-animation="fadeInUpBig" data-delay="700ms">Alumini Cell</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img " style="background-image: url(static/img/wizard-profile.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">ALUMINI</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">NALANDA INSTITUTE OF TECHNOLOGY</h5>
                                <a href="{% url 'alumini_cell' %}" class="btn razo-btn btn-2" data-animation="fadeInUpBig" data-delay="700ms">Alumini Cell</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Welcome Slide -->
        <div class="single-welcome-slide bg-img " style="background-image: url(static/img/bg-img/33.jpg);">
            <!-- Welcome Content -->
            <div class="welcome-content h-100">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-md-10 col-lg-6">
                            <div class="welcome-text text-center">
                                <h2 data-animation="fadeInUp" data-delay="100ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">ALUMINI</h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms" onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">NALANDA INSTITUTE OF TECHNOLOGY</h5>
                                <a href="{% url 'alumini_cell' %}" class="btn razo-btn btn-2" data-animation="fadeInUpBig" data-delay="700ms">Alumini Cell</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Welcome Area End -->
<br>
<br>


<!--
<div class="card-deck" style="margin-left: 10px;margin-right:10px;">
    <div class="card " style="background-color:white;border:2px solid blue;border-radius:20px;">
        <div class="card-title text-center" style="color:rgb(240, 11, 202);font-weight:bold;font-size:30px;">HIGHLIGHTS</div>
        <hr>
        <div class="card-body text-center">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"> -->
<!-- <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol> -->
<!--  <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                            <h3 style="color: black;">CSE</h3>
                            <img src="{% static 'img/bg-img/30.jpg'%}" height="500px" width="400px" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        <div class="carousel-item text-center">
                            <h3 style="color: black;">MECH</h3>
                            <img src="{% static 'img/bg-img/31.jpg'%}" height="500px" width="400px" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item text-center">
                            <h3 style="color: black;">CIVIL</h3>
                            <img src="{% static 'img/bg-img/32.jpg'%}" height="500px" width="400px" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                        </div>
                    </div> -->
<!-- <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
<!--   </div> 
            </div>
            <hr>
            <div class="btn text-center"><a href="{% url 'highlight_viewall' %}" style="color: black;">View all</a></div>
        </div>
    </div>
    <div class="card " style="background-color:white;border:2px solid blue;border-radius:20px;">
        <div class="card-title text-center" style="color:rgb(240, 11, 202);font-weight:bold;font-size:30px;">NEWS</div>
        <hr>

        <div class="card-body text-center">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"> -->
<!-- <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol> -->
<!--   <div class="carousel-inner">
                        <div class="carousel-item active text-center">
                            <h3 style="color: black;">CSE</h3>
                            <img src="{% static 'img/bg-img/30.jpg'%}" height="500px" width="400px" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        <div class="carousel-item text-center">
                            <h3 style="color: black;">MECH</h3>
                            <img src="{% static 'img/bg-img/31.jpg'%}" height="500px" width="400px" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item text-center">
                            <h3 style="color: black;">CIVIL</h3>
                            <img src="{% static 'img/bg-img/32.jpg'%}" height="500px" width="400px" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                        </div>
                    </div> -->
<!--   <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a> -->
<!--   </div>
            </div>
            <hr>
            <div class="btn  text-center"><a href="{% url 'news_viewall' %}" style="color: black;">View all</a></div>
        </div>
    </div>
    <div class="card" style="background-color:lightgreen;border:2px solid blue;border-radius:20px;">
        <div class="card-title text-center" style="color:rgb(240, 11, 202);font-weight:bold;font-size:30px;">ANNOUNCEMENT</div>
        <hr>
        <div class="card-body text-center" style="overflow:hidden;">
            <div class="bd-example" style="height: 406px;">
                <div class="list-group">
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">First item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
            </div>
            <hr>
            <div class="btn text-center"><a href="{% url 'announcement_viewall' %}" style="color: black;">View all</a></div>
        </div>
    </div>
</div> 

<br>
<br> -->

<!-- Music Charts Area Start -->
<section class="razo-music-charts-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(static/img/undraw_santa_visit_loux.svg);">
    <div class="container">

    </div>
</section>

<section class="razo-trending-video-area section-padding-80-0 mb-50">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <div class="section-heading text-center">
                    <h2 onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">ALUMINI THE PRIDE OF NALANDA</h2>
                </div>
                <h3 style="color: rgb(31, 29, 29);font-family: Times New Roman, Times, serif;font-weight:normal;font-style: oblique;font-variant: small-caps;font-variant: small-caps;">Alumni are the brand-ambassadors of the institution they graduated from. Nalanda has created alumni as a way of connecting their successes with what the college has provided to their students. However, in this era of social networking,
                    the connect with their past students doesn't stop with this. Institutions have realised how a strong and a positive relationship with their alumni can benefit them socially, academically and professionally. Likewise even the alumni
                    community have realised that it's not just a mere nostalgia that they associate their alma-mater with, but it's much beyond that.</h3>
            </div>
        </div>
    </div>
</section>

<!-- Music Charts Area End -->

<!-- Trending Video Area Start -->
<!--
<section class="razo-trending-video-area section-padding-80-0 mb-50">
    <div class="container">
        <div class="row">
            
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Trending Video</h2>
                </div>
            </div>
        </div>

        <div class="row">
            
            <div class="col-12">
                <div class="featured-trending-video mb-30 wow fadeInUp" data-wow-delay="100ms">
                    <iframe src="https://www.youtube.com/embed/zRvhQ5Rf6-U" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            
            <div class="col-12 col-md-6 col-lg-4">
                <div class="razo-single-post d-flex mb-30 wow fadeInUp" data-wow-delay="100ms">
                    
                    <div class="post-thumbnail">
                        <a href="single-blog.html"><img src="{% static 'img/bg-img/2.jpg'%}" alt=""></a>
                    </div>
                   
                    <div class="post-content">
                        <div class="post-meta">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
                        </div>
                        <a href="single-blog.html" class="post-title">Epileptic boy's cannabis let through border</a>
                    </div>
                </div>
            </div> -->

<!-- Single Post Area -->
<!--
<div class="col-12 col-md-6 col-lg-4">
    <div class="razo-single-post d-flex mb-30 wow fadeInUp" data-wow-delay="300ms">
        
        <div class="post-thumbnail">
            <a href="single-blog.html"><img src="img/bg-img/3.jpg" alt=""></a>
        </div>
       
        <div class="post-content">
            <div class="post-meta">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
            </div>
            <a href="single-blog.html" class="post-title">Ben Affleck completes addic treatment</a>
        </div>
    </div>
</div>


<div class="col-12 col-md-6 col-lg-4">
    <div class="razo-single-post d-flex mb-30 wow fadeInUp" data-wow-delay="500ms">
       
        <div class="post-thumbnail">
            <a href="single-blog.html"><img src="img/bg-img/4.jpg" alt=""></a>
        </div>
        
        <div class="post-content">
            <div class="post-meta">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
            </div>
            <a href="single-blog.html" class="post-title">Boaters have close call with humpback whale</a>
        </div>
    </div>
</div>


<div class="col-12 col-md-6 col-lg-4">
    <div class="razo-single-post d-flex mb-30 wow fadeInUp" data-wow-delay="700ms">
        
        <div class="post-thumbnail">
            <a href="single-blog.html"><img src="{% static 'img/bg-img/5.jpg'%}" alt=""></a>
        </div>
        
        <div class="post-content">
            <div class="post-meta">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
            </div>
            <a href="single-blog.html" class="post-title">Suspect in Mollie Tibbetts' killing gave false</a>
        </div>
    </div>
</div>


<div class="col-12 col-md-6 col-lg-4">
    <div class="razo-single-post d-flex mb-30 wow fadeInUp" data-wow-delay="900ms">
        
        <div class="post-thumbnail">
            <a href="single-blog.html"><img src="img/bg-img/6.jpg" alt=""></a>
        </div>
       
        <div class="post-content">
            <div class="post-meta">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
            </div>
            <a href="single-blog.html" class="post-title">Some of Mollie Tibbetts' family don't want</a>
        </div>
    </div>
</div>


<div class="col-12 col-md-6 col-lg-4">
    <div class="razo-single-post d-flex mb-30 wow fadeInUp" data-wow-delay="1200ms">
        
        <div class="post-thumbnail">
            <a href="single-blog.html"><img src="{% static 'img/bg-img/7.jpg'%}" alt=""></a>
        </div>
       
        <div class="post-content">
            <div class="post-meta">
                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 2.1k</a>
                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 3.6k</a>
            </div>
            <a href="single-blog.html" class="post-title">Trump: Impeach somebody who's done great job?</a>
        </div>
    </div>
</div>

</div>
</div>
</section> -->
<!-- Trending Video Area End -->

<!-- App Download Area Start -->
<section class="razo-app-download-area section-padding-80-0 bg-img bg-overlay jarallax" style="background-image: url(static/img/undraw_snow_games_ohkc.svg);">
    <div class="container">
        <div class="row align-items-center">
            <!-- App Thumbnail -->
            <div class="col-12 col-md-6">
                <div class="app-thumbnail mb-80">
                    <img src="img/bg-img/mockup-iphone.png" alt="">
                </div>
            </div>
            <!-- App Download Text -->
            <div class="col-12 col-md-6">
                <div class="app-download-text mb-80">

                    <h2 onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">NALANDA</h2>
                    <p>Nalanda Institute of Technology Bhubaneswar, a brain child of Balaji Educational Trust has come out of its cocoon in the year 2006 with an objective to impart value & quality based technical education not only to the students of Orissa
                        but also to the students of eastern India.</p>
                    <div class="app-download-btn">
                        <a href="http://www.thenalanda.com/"><button class="btn btn-primary">Know more</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- App Download Area End -->

<!-- Weekly Sehedule Area Start -->
<section class="razo-weekly-schedule-area section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="weekly-schedule-table table-responsive">
                    <!-- Section Heading -->
                    <div class="col-12">
                        <div class="section-heading text-center">
                            <h2 onMouseOver="this.style.color='grey'" onMouseOut="this.style.color='#EE4C7C'" style="color: #EE4C7C;">CSE FAMILY</h2>
                        </div>
                    </div>

                    <div class="tab-content" id="showRoutineTabContent" style="overflow: hidden;">
                        <!-- Single Tab Content -->
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/55.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5 style="padding-top: 20px;">Mr. Narottam Sahoo</h5>
                                                <span>HOD</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/56.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>Mrs. Suchitra Mishra</h5>
                                                <span>Asst. Professor</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/56.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>Mr. Jitendra Sahu</h5>
                                                <span>Asst. Professor</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/56.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>Berkshire Sport: Extra Time</h5>
                                                <span>09:00am - 11:30am</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/56.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>Tony Blackburn on BBC Radio</h5>
                                                <span>12:00pm - 13:30pm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/55.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>BBC Music Introducing in</h5>
                                                <span>15:00am - 17:00pm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/55.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>Stereo Underground</h5>
                                                <span>18:00pm - 19:30pm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/55.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>Danyl Johnson and Natasha Watts</h5>
                                                <span>20:00pm - 22:00pm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="{% static 'img/bg-img/55.jpg'%}" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">

                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                                <span>23:00pm - 01:00am</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Weekly Sehedule Area End -->

<!-- Latest News Area Start -->
<section class="razo-latest-news-area section-padding-80 bg-overlay bg-img jarallax" style="background-image: url(static/img/bg-img/32.jpg);">
    <div class="container">
        <div class="row align-items-end">
            <!-- Section Heading -->
            <div class="col-sm-6">
                <div class="section-heading white">
                    <h2>IMAGE GALLERY</h2>
                </div>
            </div>
            <!-- Show All Button -->
            <div class="col-sm-6">
                <div class="show-all-button mb-50 text-right">
                    <a href="#" class="btn show-all-btn">Show All Blog</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Razo Latest News Slide -->
    <div class="razo-latest-news-slide owl-carousel">

        <!-- Single Latest News Area -->
        <div class="razo-single-latest-news-area bg-overlay bg-img" style="background-image: url(static/img/bg-img/22.jpg);">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-title">The light and music exposition hits los angeles</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Post Date -->
            <div class="post-date">
                <h2>24</h2>
                <p>March</p>
            </div>
            <!-- Read More -->
            <div class="read-more-btn">
                <a href="#" class="btn">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Latest News Area -->
        <div class="razo-single-latest-news-area bg-overlay bg-img" style="background-image: url(static/img/bg-img/23.jpg);">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-title">The light and music exposition hits los angeles</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Post Date -->
            <div class="post-date">
                <h2>24</h2>
                <p>March</p>
            </div>
            <!-- Read More -->
            <div class="read-more-btn">
                <a href="#" class="btn">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Single Latest News Area -->
        <div class="razo-single-latest-news-area bg-overlay bg-img" style="background-image: url(static/img/bg-img/24.jpg);">
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="post-title">The light and music exposition hits los angeles</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            </div>
            <!-- Post Date -->
            <div class="post-date">
                <h2>24</h2>
                <p>March</p>
            </div>
            <!-- Read More -->
            <div class="read-more-btn">
                <a href="#" class="btn">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
</section>
<!-- Latest News Area End -->
{% endblock %}