<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>NITAlumni</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'profile/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendors/linericon/style.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendors/lightbox/simpleLightbox.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendors/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendors/animate-css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendors/popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'profile/vendors/flaticon/flaticon.css' %}">
    <!-- main css -->
    <link rel="stylesheet" href="{% static 'profile/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/responsive.css' %}">

    <style>
        .fit-image {
            width: 100%;
            object-fit: cover;
            height: 300px;
            /* only if you want fixed height */
        }
        
        @media screen and (min-width: 500px) {
            .pimg {
                width: 50%;
            }
        }
    </style>
</head>

<body>

    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex float-left pimg">
                            {% if profile.profile_pic == "user.socialaccount_set.all.0.get_avatar_url" %}
                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" class="img-fluid mx-auto d-block"> {% elif user.profile.profile_pic.url %}
                            <img src="{{user.profile.profile_pic.url}}" class="img-fluid mx-lg-auto d-block img-thumbnail" style="border-radius: 10px;"> {% else %}
                            <img src="{{user.profile.profile_pic}}" class="img-fluid mx-lg-auto d-block img-thumbnail" style="border-radius: 10px;"> {% endif %}
                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6>Hello Friend, i am</h6>
                                <h3>{{user.first_name}} {{user.last_name}}</h3>
                                <!-- <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>-->
                                <ul class="list basic_info">
                                    <hr>
                                    <li>
                                        <h2 style="color: gray;">PERSONAL</h2>
                                    </li>
                                    <hr>
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i>Full Name : <span style="color: black;">{{user.first_name}} {{user.last_name}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i>Passout-year : <span style="color: black;">{{user.profile.passout_year}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-phone-handset"></i>Registration No. : <span style="color: black;">{{user.profile.regdno}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i>Branch : <span style="color: black;">{{user.profile.branch}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i>Email : <span style="color: black;">{{user.email}}</span></a></li>
                                    <hr>
                                    <li>
                                        <h2 style="color: gray;">PROFESSIONAL</h2>
                                    </li>
                                    <hr>
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i>Profession : <span style="color: black;">{{user.profile.profession}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i>Company : <span style="color: black;">{{user.profile.company}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i>Designation : <span style="color: black;">{{user.profile.designation}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-phone-handset"></i>Work Location : <span style="color: black;">{{user.profile.work_location}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i>Work Country : <span style="color: black;">{{user.profile.work_country}}</span></a></li>
                                    <hr>
                                    <li>
                                        <h2 style="color: gray;">RESCIDENCE</h2>
                                    </li>
                                    <hr>
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i>Address 1 : <span style="color: black;">{{user.profile.street_name}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-phone-handset"></i>Address 2 : <span style="color: black;">{{user.profile.street_number}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i>City : <span style="color: black;">{{user.profile.city}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i>State : <span style="color: black;">{{user.profile.state}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i>District : <span style="color: black;">{{user.profile.district}}</span></a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i>Country : <span style="color: black;">{{user.profile.country}}</span></a></li>
                                </ul>
                                <ul class="list personal_social">
                                    <li><a href="http://www.facebook.com/{{user.profile.facebook_username}}"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="http://www.linkedin.com/{{user.profile.linkedin_resource_id}}"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="http://twitter.com/{{user.profile.twitter_username}}"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
    <!--================Home Gallery Area =================-->
    <section class="home_gallery_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>Gallery</h2>
                <p>I have some memories...</p>
            </div>
            <div class="isotope_fillter">
                <ul class="gallery_filter list">
                    <li class="active" data-filter="*"><a href="#">All</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="gallery_f_inner row imageGallery1">
                {% if gallery%} {% for obj in gallery %}
                <div class="col-lg-4 col-md-4 col-sm-6 brand manipul design print">
                    <div class="h_gallery_item">
                        <div class="g_img_item">
                            <img class="img-fluid" src="{{obj.images.url}}" alt="">
                            <a class="light" href="{{obj.images.url}}"><img src="{% static 'profile/img/gallery/icon.png' %}" alt=""></a>
                        </div>
                        <div class="g_item_text">
                            {% if obj.title %}
                            <h4 style="color: black;">{{obj.title}}</h4>
                            {% endif %} {% if obj.description %}
                            <p style="color: black;">{{obj.description}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% endfor %} {% else %}
                <div class="container text-center">
                    <h1 style="color: gray;">No Gallery Found </h1>
                </div>
                {% endif %}
            </div>
            <!--  <div class="more_btn">
                <a class="main_btn" href="#">Load More Items</a>
            </div> -->
        </div>
    </section>
    <!--================End Home Gallery Area =================-->

    <!--================Footer Area =================-->
    <!-- <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>About Me</h3>
                        </div>
                        <p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills,</p>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>Newsletter</h3>
                        </div>
                        <p>Stay updated with our latest trends</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>Follow Me</h3>
                        </div>
                        <p>Let us be social</p>
                        <ul class="list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer> -->
    <!--================End Footer Area =================-->






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/stellar.js"></script>
    <script src="vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>